BODY
{
    FONT-SIZE: 8pt;
    COLOR: #003366;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #fffefc
}
.tableCell
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    COLOR: #003366;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
INPUT
{
    FONT-SIZE: 100%;
    COLOR: #003366;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.TableHeader
{
    BORDER-TOP: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #000000;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    BACKGROUND-COLOR: #e5e5c7
}
TABLE
{
    FONT-SIZE: 8pt;
    COLOR: #003366;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
TEXTAREA
{
    BORDER-RIGHT: #cccccc thin solid;
    BORDER-TOP: #cccccc thin solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #cccccc thin solid;
    COLOR: #003366;
    BORDER-BOTTOM: #cccccc thin solid;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.header
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #cddbeb
}
.error
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.tableBold
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: #003366;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
SELECT
{
    FONT-SIZE: 8pt;
    COLOR: #003366;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.whitefonts
{
    FONT-SIZE: 8pt;
    COLOR: #fafafa;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.flatbtn
{
    BORDER-RIGHT: #a8a761 1px solid;
    BORDER-TOP: #a8a761 1px solid;
    BORDER-LEFT: #a8a761 1px solid;
    CURSOR: pointer;
    COLOR: #003366;
    BORDER-BOTTOM: #a8a761 1px solid;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #e8e8d2
}
.selButton
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: #fafafa;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #cccc99
}
.notSelButton
{
    FONT-SIZE: 8pt;
    COLOR: navy;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #ccccb2
}
.whiteHeader
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: navy;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #cccc99
}
.evencell
{
    COLOR: #003366;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: beige
}
.menuItem
{
    FONT-SIZE: 11px;
    COLOR: navy;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    TEXT-ALIGN: justify;
    TEXT-DECORATION: underline
}
.subMenuItem
{
    FONT-SIZE: 10px;
    COLOR: navy;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.subheader
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.underline
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    TEXT-DECORATION: underline
}
.menuUnderline
{
    FONT-SIZE: 10px;
    MARGIN-LEFT: 60px;
    COLOR: navy;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    TEXT-DECORATION: underline
}
.menuSelItem
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    COLOR: navy;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.groupExam
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: #003399;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: palegoldenrod
}
.groupOrient
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: #003399;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #cccc99
}
.mSizeBold
{
    FONT-SIZE: 10pt;
    COLOR: #003366;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.menuItemDisabled
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    COLOR: #d8d8d8;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.redFonts
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.table
{
    BORDER-RIGHT: darkolivegreen 1px;
    BORDER-TOP: darkolivegreen 1px;
    FONT-SIZE: 8pt;
    BORDER-LEFT: darkolivegreen 1px;
    WIDTH: 100%;
    BORDER-BOTTOM: darkolivegreen 1px;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.Layout
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    WIDTH: 35px;
    COLOR: navy;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #cccc99
}
.showEvent
{
    FONT-SIZE: 8pt;
    COLOR: #003399;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #fffaf0;
    TEXT-ALIGN: left
}
.eventBody
{
    FONT-SIZE: 8pt;
    COLOR: #9da6bb;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    TEXT-ALIGN: left
}
.tablebody
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: #fafafa;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.FixMonthWidth
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: 1px;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    HEIGHT: 95px;
    BACKGROUND-COLOR: #fafafa;
    TEXT-ALIGN: right
}
.calendarHeader
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: #003366;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #fffaf0
}
.fixWeekWidth
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    WIDTH: 20%;
    COLOR: navy;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #f9f9e8
}
.selectCell
{
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.greenFonts
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: darkolivegreen;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.disable
{
    FONT-SIZE: 8pt;
    COLOR: #bebcaf;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.menuItem11pt
{
    FONT-SIZE: 9px;
    COLOR: #fafafa;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.menuDisabled
{
    FONT-SIZE: 10px;
    COLOR: navy;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.footer
{
    FONT-SIZE: 8pt;
    COLOR: dimgray;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.oddline
{
    FONT-SIZE: 8pt;
    COLOR: #003366;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #fffacd
}
.MainHeader
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    BACKGROUND-COLOR: #e5e5c7
}
.italicHeader
{
    FONT-STYLE: italic;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: whitesmoke
}
.tooltip
{
    BORDER-RIGHT: darkgray 1px solid;
    BORDER-TOP: darkgray 1px solid;
    BORDER-LEFT: darkgray 1px solid;
    BORDER-BOTTOM: darkgray 1px solid;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: beige
}
.tableborder
{
    BORDER-RIGHT: palegoldenrod 1px solid;
    BORDER-TOP: palegoldenrod 1px solid;
    BORDER-LEFT: palegoldenrod 1px solid;
    BORDER-BOTTOM: palegoldenrod 1px solid
}
.blackfonts
{
    COLOR: black
}
.subHeaderBack
{
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #e5e5c7
}
.tableborderColor
{
    BORDER-RIGHT: #ffffff 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-BOTTOM: #ffffff 1px solid
}
.footer HR
{
    COLOR: steelblue
}
.tableborderColor TD
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-BOTTOM: #cccccc 1px solid
}
.tableborderColorOnly
{
    BORDER-RIGHT: #a8a761 1px solid;
    BORDER-TOP: #a8a761 1px solid;
    BORDER-LEFT: #a8a761 1px solid;
    BORDER-BOTTOM: #a8a761 1px solid
}
.courier
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: 'Courier New'
}
TD
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
.bluefonts
{
}
.buttonPrint
{
    BORDER-RIGHT: black 1px solid;
    BACKGROUND-POSITION: 5px center;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 21px;
    BACKGROUND-IMAGE: url(images/print.gif);
    BORDER-LEFT: black 1px solid;
    CURSOR: pointer;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #e7e7ef
}
.groupheader
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #cccc99
}
.menuTable
{
    BORDER-RIGHT: #a8a761 1px solid;
    BORDER-TOP: #a8a761 1px solid;
    BORDER-LEFT: #a8a761 1px solid;
    WIDTH: 127px;
    BORDER-BOTTOM: #a8a761 1px solid;
    BACKGROUND-COLOR: #fffefc
}
.rightColumn
{
    BORDER-RIGHT: #a8a761;
    BORDER-TOP: #a8a761;
    BORDER-LEFT: #a8a761 1px solid;
    BORDER-BOTTOM: #a8a761;
    BACKGROUND-COLOR: #e5e5c7
}
.leftColumn
{
    BORDER-RIGHT: #a8a761 1px solid;
    BACKGROUND-COLOR: #e5e5c7
}
.bottomBorderLight
{
    BORDER-BOTTOM: #a8a761 1px solid
}
.topBorderLight
{
    BORDER-TOP: #a8a761 1px solid
}
.bottomBorder
{
    BORDER-RIGHT: #a8a761;
    BORDER-TOP: #a8a761;
    BORDER-LEFT: #a8a761;
    BORDER-BOTTOM: #a8a761 1px solid
}
.footer:hover
{
    COLOR: #6e89dd
}
.italic
{
    FONT-STYLE: italic
}
